::root {
    --primary: #3C91E6;
    --secondary: #342E37;
}

.primary_bg {
    background-color: var(--primary);
}

.secondary_bg {
    background-color: var(--secondary);
}

.primary_text_color {
    color: var(--primary);
}
.secondary_text_color {
    color: var(--secondary);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul>li {
    margin: 0 .5rem;
    padding: 1rem;
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 6px;
    /* 
        background-image: url('');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
    */
}

footer {
    margin-top: 6px;
    background-color: rgba(0,0,0, .3);
}